* {
    box-sizing: border-box;
}

input {
    display: block;
    border: none;
    width: 100%;
    padding: 0 5px;
    z-index: 50;
    margin: 5px 0;
}

input:focus {
    outline: none;
}

.page-contents > div {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 5px 0;
    z-index: 100;
    width: 200px;
}

button.selected {
    background-color: darkgrey;
}

p.error {
    color: red;
}

.hidden {
    display: none;
}

.warning, .warning input {
    border-color: red;
    color: red;
}
.warning ::placeholder {
    color: red;
}